<!DOCTYPE html>
<html>
<head>
    <title>
        Pinocchio Pizzeria - CS50W
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
{% if user.is_authenticated %}
    <div class="navbar sticky-top navbar-dark bg-dark">
        <div class="navbar-brand"> PizzaUser as <span style='color: #119c1e;'>{{ user.get_username }}</span>:</div>
        <div>
            <a href="{% url "menu_view" %}">
                <button class="btn btn-outline-success mx-1 my-xl-0 my-2">Menu</button>
            </a>
            <a href="{% url "logout_view" %}">
                <button class="btn btn-outline-warning mx-1 my-xl-0 my-2" type="button">Logout</button>
            </a>
            <a href="{% url "user_orders_view" %}">
                <button class="btn btn-outline-primary ml-1 my-xl-0 my-2" type="button" title="All orders">Orders</i>
                </button>
            </a>
            <a href="{% url "cart_view" %}">
                <button class="btn btn-outline-danger ml-1 my-xl-0 my-2" type="button" title="Look at your cart"><i class="fa fa-shopping-cart"></i>
                </button>
            </a>


            {% if request.user.is_staff %}
                <a href="/admin">
                    <button class="btn btn-outline-info ml-1 my-xl-0 my-2" type="button" title="Admin panel"><i class="fa fa-toolbox"></i>
                    </button>
                </a>

                <a href="{% url "all_orders_view" %}">
                    <button class="btn btn-outline-info ml-1 my-xl-0 my-2" type="button" title="All orders from users"><i class="fa fa-scroll"></i>
                    </button>
                </a>
            {% endif %}

        </div>
    </div>
{% else %}
    <div class="navbar sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Welcome on pizzeria!</a>
        <form class="form-inline my-2 my-lg-0" action="{% url "login_view" %}" autocomplete="off" method="POST">
            {% csrf_token %}
            <div class="col-auto pl-0">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text "><i class="fa fa-user"></i></div>
                    </div>
                    <input type="text" class="form-control my-2 my-sm-0 mr-2" value="" placeholder="Enter nickname" name="username" autofocus maxlength="254" required id="id_username">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-lock"></i></div>
                    </div>
                    <input type="password" class="form-control my-2 my-sm-0" value="" placeholder="Enter password" type="password" name="password" required id="id_password">
                </div>
            </div>
            <div class="col-auto pl-0 pr-0">
                <button class="btn btn-outline-light my-2 my-sm-0 mr-2" type="submit">Log-in!</button>
            </div>
        </form>
        <a href="{% url "register_view" %}">
            <button class="btn btn-outline-primary mx-1 my-xl-0 my-2">Register</button>
        </a>
    </div>
{% endif %}
</div>
<div class="mt-2 col-md-12"></div>
{% block body %}{% endblock %}
</body>
</html>
