{% extends "layout.html" %}
{% block body %}
    <div class="container text-center">
    <div class="col-xl-">
            <div class="jumbotron vertical-center">
                <div class="container">
                    <h1 class="display-2"><b>Welcome on Pinocchio's Pizzeria</b></h1>
                    <h1 class="display-4"><i>Best pizzeria in the campus</i></h1>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <div class="mt-2 col-md-12"></div>
                    <p class="lead">If You want to make an order, simply log in to our page and choose what You want from menu</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
